<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/footballwc?useUnicode=true&amp;characterEncoding=UTF-8&amp;characterSetResults=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1558</property>
    <property name="hibernate.connection.pool_size">1</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.footballwc.entity.Fgroup"/>
    <mapping class="com.footballwc.entity.Goal"/>
    <mapping class="com.footballwc.entity.Match"/>
    <mapping class="com.footballwc.entity.Player"/>
    <mapping class="com.footballwc.entity.Team"/>
  </session-factory>
</hibernate-configuration>
